{:deps
 {aleph                  {:mvn/version "0.4.4"}
  byte-streams           {:mvn/version "0.2.4"}
  clj-http               {:mvn/version "3.9.0"}
  org.clojure/core.async {:mvn/version "0.4.474"}
  cheshire               {:mvn/version "5.8.0"}
  medley                 {:mvn/version "1.0.0"}
  com.taoensso/timbre    {:mvn/version "4.10.0"
                          :exclusions
                          [[org.clojure/clojure]]}
  org.clojure/spec.alpha {:mvn/version "0.1.143"
                          :exclusions
                          [[org.clojure/clojure]]}}

 :aliases
 {:lispy   {:extra-deps {}}
  :xmlbind {:jvm-opts ["--add-modules=java.xml.bind"]}}}
